<ion-header>
	<ion-navbar>
		<ion-title>{{ projekt?.title }}</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<div class="projekt-cover" *ngIf="projekt?.cover"><div class="parallax-bg" [defaultImage]="placeholder" [lazyLoad]="projekt.cover" [offset]="50"></div></div>
	<div padding>
		<h2 [innerHTML]="projekt?.title" class="post-title" no-margin></h2>
		<div *ngIf="projekt?.description" class="projekt-headline" [innerHTML]="projekt?.description" margin-top></div>
		<div class="projekt-content" [innerHTML]="projekt?.brief" margin-top></div>
	</div>
</ion-content>
