page-projekt {
	.projekt-cover {
		position: relative;
		width: 100%;
		height: 20vh;
		overflow: hidden;
		-webkit-box-shadow: inset 0 0 25px rgba(0,0,0,.5);
		box-shadow: inset 0 0 15px rgba(0,0,0,.5);
		
		.parallax-bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 120%;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
		}
	}
	
	.post-title {
		font-family: 'Berthold Akzidenz Grotesk', sans-serif;
		font-size: 3.4rem;
		font-weight: 600;
		line-height: 1.1;
		letter-spacing: -.17px;
		text-transform: uppercase;
	}
	
	.projekt-detail {
		margin-top: .5rem;
		
		ion-col {
			button {
				margin: 0;
				font-size: 1.2rem;
				color: #757575;
				text-transform: capitalize;
				
				.button-inner {
					line-height: 25px;
				}
				
				ion-icon {
					line-height: 25px;
				}
			}
		}
	}
	
	.projekt-headline {
		padding-top: .5rem;
		padding-bottom: .5rem;
		margin: 0;
		font-size: 2rem;
		font-weight: 500;
		line-height: 1.6;
		border-top: 1px solid currentColor;
		border-bottom: 1px solid currentColor;
	}
	
	.projekt-content {
		color: color($colors, primary, base);
		font-weight: 300;
		font-size: 2rem;
		line-height: 1.6;
		
		hr {
			display: none;
		}
		
		b, strong {
			font-weight: 600;
		}
		
		a {
			color: inherit;
			text-decoration: underline;
		}
		
		img {
			width: 100%;
			height: auto!important;
		}
		
		.post-title {
			font-weight: 600;
		}
		
		.post-date,
		.post-author,
		.post-credit {
			font-size: .9em;
			font-weight: 400;
			margin: 0 0 10px;
			
			ion-icon {
				width: 14px;
				text-align: center;
				vertical-align: middle;
				margin-right: 5px;
			}
		}
		
		.share-buttons {
			.row {
				margin: 0 -1px;
				
				.button {
					border-radius: 0;
					-webkit-border-radius: 0;
					border: 1px solid color($colors, light, base);
				}
			}
		}
	}
}
