<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>{{ result?.title }}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<div class="about-content" padding>
		<div class="about-description" *ngIf="result?.content" [innerHTML]="result?.content" margin-bottom></div>
		<div class="about-city" *ngFor="let city of result?.cities" padding-vertical>
			<div class="city-image" [style.backgroundImage]="'url(' + city.image.url + ')'" margin-vertical>
				<h3 class="city-name" color="light" no-margin>{{ city.name }}</h3>
			</div>
			<div class="city-content" [innerHTML]="city.description" margin-bottom></div>
		</div>
	</div>
</ion-content>