page-about {
	.about-content {
		color: inherit;
		font-weight: 300;
		font-size: 2rem;
		line-height: 1.6;
		
		hr {
			display: none;
		}
		
		b, strong {
			font-weight: 600;
		}
		
		a {
			color: inherit;
			text-decoration: underline;
		}
		
		img {
			width: 100%;
			height: auto!important;
		}
		
		.about-description {
			*:first-child {
				margin-top: 0;
			}
		}
		
		.about-city {
			border-top: 1px solid color($colors, secondary, base);
			
			.city-image {
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;
				
				h3 {
					font-family: 'Berthold Akzidenz Grotesk', sans-serif;
					color: color($colors, light, base);
					background-color: rgba(0,0,0,.25);
					padding: 7.5rem 0;
					margin: 0;
					font-size: 3rem;
					font-weight: 800;
					text-align: center;
					text-transform: uppercase;
					letter-spacing: .5px;
					text-shadow: 0 0 10px rgba(0, 0, 0, 0.33);
				}
			}
		}
	}
}
