<ion-header>
	<ion-navbar>
		<ion-buttons end>
			<button ion-button icon-only>
				<ion-icon name="ios-heart-outline"></ion-icon>
			</button>
			<button ion-button icon-only (click)="sharePost($event, post.title, post.url)">
				<ion-icon name="ios-share-outline"></ion-icon>
			</button>
			<button ion-button icon-only (click)="commentsTapped($event, post.id)">
				<ion-icon name="ios-text-outline"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content>
	<div class="post-cover" *ngIf="vault?.cover"><div class="parallax-bg" [defaultImage]="placeholder" [lazyLoad]="vault?.cover" [offset]="50"></div></div>
	<div class="post-audio" *ngIf="expired == 0">
		<button class="post-player" *ngIf="vault?.audio" (click)="openPlayer($event, vault?.audio)" ion-button icon-start color="dark" block><ion-icon name="play"></ion-icon> Listen Now</button>
	</div>
	<div class="post-audio" *ngIf="expired == -1" text-uppercase><h5>Tomorrow</h5></div>
	<div class="post-audio" *ngIf="expired < -1" text-uppercase><h5>{{ -expired }} Days</h5></div>
	<div class="post-audio" *ngIf="expired > 0" text-uppercase><h5 class="expired">Expired</h5></div>
	<div class="post-content" *ngIf="pageLoaded" padding>
		<h3 class="post-title" no-margin text-uppercase>{{ vault?.artist_name }} - {{ vault?.title }}</h3>
		<div class="post-description" [innerHTML]="vault?.description" margin-top></div>
	</div>
	<div class="posts" *ngIf="vault?.posts && vault?.posts.length" padding-vertical>
		<h1 class="title" color="primary" *ngIf="pageLoaded" ion-text text-center text-uppercase>Related News</h1>
		<ion-grid class="post" *ngFor="let post of vault?.posts" (click)="postTapped($event, post)">
			<ion-row align-items-center>
				<ion-col *ngIf="post.thumbnail" class="post-image" col-12 col-md-6>
					<span *ngIf="post.format" class="post-format" text-uppercase>{{ post.format }}</span>
					<span class="post-like"><ion-icon name="heart"></ion-icon></span>
					<img [defaultImage]="placeholder" [lazyLoad]="post.thumbnail" [offset]="300" [scrollTarget]="scrollerHandle" alt="{{ post.title }}" />
				</ion-col>
				<ion-col class="post-content" col-12 col-md-6>
					<h3 [innerHTML]="post.title" no-margin></h3>
					<ion-row no-padding>
						<ion-col *ngIf="post.date" col-auto no-padding>
							<button ion-button icon-start clear small no-padding>
								<ion-icon name="ios-time-outline"></ion-icon>
								<div>{{ post.date }}</div>
							</button>
						</ion-col>
						<ion-col *ngIf="post.author" col-auto no-padding margin-left>
							<button ion-button icon-start clear small no-padding>
								<ion-icon name="ios-person"></ion-icon>
								<div>{{ post.author }}</div>
							</button>
						</ion-col>
					</ion-row>
				</ion-col>
			</ion-row>
			<hr>
		</ion-grid>
	</div>
	<ion-grid class="products" *ngIf="vault?.products && vault?.products.length" padding-top>
		<ion-row>
			<ion-col col-12 no-padding margin-bottom>
				<h1 class="title" color="primary" *ngIf="pageLoaded" ion-text text-center text-uppercase no-margin>Merch</h1>
			</ion-col>
			<ion-col class="product" *ngFor="let product of vault?.products" (click)="productTapped($event, product.id)" col-6 col-md-4>
				<div *ngIf="product?.image" class="product-image">
					<img [defaultImage]="placeholder" [lazyLoad]="product.image" [offset]="300" [scrollTarget]="scrollerHandle" />
				</div>
				<div class="product-content" padding>
					<h3 [innerHTML]="product?.title" no-margin></h3>
					<h5 [innerHTML]="product?.price | rupiahCurrency" no-margin></h5>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>