page-vault {
	.post-cover {
		position: relative;
		width: 100%;
		height: 30vh;
		overflow: hidden;
		-webkit-box-shadow: inset 0 0 25px rgba(0,0,0,.5);
		box-shadow: inset 0 0 15px rgba(0,0,0,.5);
		
		.parallax-bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 120%;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
		}
	}
	
	.post-audio {
		font-family: 'Digital 7', sans-serif;
		
		.post-player {
			margin: 0;
			padding: .75rem 1rem;
		}
		
		h5 {
			text-align: center;
			display: block;
			padding: .75rem 1rem;
			margin: 0;
			
			&.expired {
				color: #ff4800;
			}
		}
	}
	
	.post-content {
		.post-title {
			font-family: 'Berthold Akzidenz Grotesk', sans-serif;
		}
		
		.post-description {
			color: inherit;
			font-weight: 300;
			font-size: 1.6rem;
			line-height: 1.4;
			
			hr {
				display: none;
			}
			
			b, strong {
				font-weight: 600;
			}
			
			a {
				color: inherit;
				text-decoration: underline;
			}
			
			img {
				width: 100%;
				height: auto!important;
			}
		}
		
		.post-share {
			all: unset;
			padding: .5rem 1rem;
			border: 1px solid #fff;
			text-transform: uppercase;
		}
	}
}
