page-single {
	.content {
		color: inherit;
		font-weight: 300;
		font-size: 1.8rem;
		line-height: 1.4;
		
		hr {
			display: none;
		}
		
		b, strong {
			font-weight: 600;
		}
		
		a {
			color: inherit;
			text-decoration: underline;
		}
		
		img {
			width: 100%;
			height: auto!important;
		}
		
		h3 {
			font-weight: 600;
			font-size: 2.4rem;
		}
		
		h4 {
			font-weight: 600;
			font-size: 2rem;
		}
		
		p {
			margin-top: 0;
		}
	}
}