<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title><span [innerHTML]="result?.title.rendered"></span></ion-title>
	</ion-navbar>
</ion-header>
<ion-content padding>
	<div class="content" [innerHTML]="result?.content.rendered | safe: 'html'"></div>
</ion-content>