<ion-tabs>
	<ion-tab [root]="tab1Root" tabTitle="Feed" tabIcon="ios-megaphone" tabsHideOnSubPages="true"></ion-tab>
	<ion-tab [root]="tab2Root" tabTitle="Events" tabIcon="ios-calendar" tabsHideOnSubPages="true"></ion-tab>
	<ion-tab [root]="tab3Root" tabTitle="Vaults" tabIcon="ios-nuclear" tabsHideOnSubPages="true"></ion-tab>
	<ion-tab [root]="tab4Root" tabTitle="Artists" tabIcon="ios-people" tabsHideOnSubPages="true"></ion-tab>
	<ion-tab [root]="tab5Root" tabTitle="Shop" tabIcon="ios-basket" tabsHideOnSubPages="true"></ion-tab>
</ion-tabs>