<ion-header>
	<ion-navbar>
		<button ion-button icon-only menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title><img src="assets/imgs/logo.svg" alt="" /></ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="openFilter()">
				<ion-icon name="ios-funnel-outline"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content>
	<div class="posts" *ngIf="artists && artists?.length" padding-vertical>
		<h1 class="title" color="primary" *ngIf="pageLoaded" ion-text text-center text-uppercase no-margin>Artists</h1>
		<ion-grid class="post" *ngFor="let artist of artists" (click)="artistTapped($artist, artist.id)">
			<ion-row align-items-center>
				<ion-col *ngIf="artist.thumbnail" class="post-image" col-12 col-md-6>
					<img [defaultImage]="placeholder" [lazyLoad]="artist.thumbnail" [offset]="300" [scrollTarget]="scrollerHandle" />
				</ion-col>
				<ion-col class="post-content artist" col-12 col-md-6>
					<h3 [innerHTML]="artist?.title" no-margin></h3>
					<ion-row no-padding>
						<ion-col *ngIf="artist?.genre" col-auto no-padding>
							<button ion-button icon-start clear small no-padding no-margin>
								<ion-icon name="ios-musical-notes-outline"></ion-icon>
								<div [innerHTML]="artist?.genre"></div>
							</button>
						</ion-col>
						<ion-col *ngIf="artist?.city" col-auto no-padding margin-left>
							<button ion-button icon-start clear small no-padding no-margin>
								<ion-icon name="ios-pin"></ion-icon>
								<div [innerHTML]="artist?.city"></div>
							</button>
						</ion-col>
					</ion-row>
				</ion-col>
			</ion-row>
			<hr>
		</ion-grid>
	</div>
	<ion-infinite-scroll *ngIf="!noMoreItemsAvailable" (ionInfinite)="doInfinite($artist)">
		<ion-infinite-scroll-content loadingSpinner="dots" loadingText="">
		</ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>
