<ion-header>
	<ion-navbar>
		<ion-title>{{ event?.title }}</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<div class="event-cover" *ngIf="event?.cover"><div class="parallax-bg" [defaultImage]="placeholder" [lazyLoad]="event.cover" [offset]="50"></div></div>
	<div *ngIf="pageLoaded" class="event-content" padding>
		<h2 [innerHTML]="event?.title" class="event-title" no-margin></h2>
		<div class="event-detail">
			<button *ngIf="event?.event_date" ion-button icon-start clear small no-padding block>
				<ion-icon name="ios-time-outline"></ion-icon>
				<div>{{ event.event_date }}</div>
			</button>
			<button *ngIf="event?.location" ion-button icon-start clear small no-padding block>
				<ion-icon name="ios-pin"></ion-icon>
				<div>{{ event.location }}</div>
			</button>
			<button *ngIf="event?.ticket" ion-button icon-start clear small no-padding block>
				<ion-icon name="ios-pricetags"></ion-icon>
				<div>{{ event.ticket }}</div>
			</button>
		</div>
		<div class="event-description" *ngIf="event?.description" [innerHTML]="event?.description" margin-top></div>
	</div>
	<div id="map-canvas"></div>
</ion-content>
