page-event {
	.event-cover {
		position: relative;
		width: 100%;
		height: 30vh;
		overflow: hidden;
		-webkit-box-shadow: inset 0 0 25px rgba(0,0,0,.5);
		box-shadow: inset 0 0 15px rgba(0,0,0,.5);
		
		.parallax-bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 120%;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
		}
	}
	
	.event-title {
		font-family: 'Berthold Akzidenz Grotesk', sans-serif;
		font-size: 3.4rem;
		font-weight: 600;
		line-height: 1.1;
		letter-spacing: -.17px;
		text-transform: uppercase;
	}
	
	.event-content {
		color: color($colors, primary, base);
		
		.event-detail {
			margin-top: 1rem;
			padding-top: .5rem;
			padding-bottom: .5rem;
			font-weight: 500;
			border-top: 1px solid rgba(255,255,255,.6);
			border-bottom: 1px solid rgba(255,255,255,.6);
			
			button {
				margin: 0;
				font-size: 1.4rem;
				line-height: 1.6;
				color: color($colors, primary, base);
				text-transform: capitalize;
				opacity: .6;
				
				.button-inner {
					justify-content: flex-start;
					line-height: 25px;
				}
				
				ion-icon {
					min-width: 20px;
					text-align: center;
					line-height: 25px;
				}
			}
		}
		
		.event-description {
			color: inherit;
			font-weight: 300;
			font-size: 2rem;
			line-height: 1.6;
			
			hr {
				display: none;
			}
			
			b, strong {
				font-weight: 600;
			}
			
			a {
				color: inherit;
				text-decoration: underline;
			}
			
			img {
				width: 100%;
				height: auto!important;
			}
			
			.share-buttons {
				.row {
					margin: 0 -1px;
					
					.button {
						border-radius: 0;
						-webkit-border-radius: 0;
						border: 1px solid color($colors, light, base);
					}
				}
			}
		}
		
		
		.map-canvas {
			height: 40vh;
		}
	}
}
