page-cart {
	ion-content.content {
		background-color: #f4f4f7;
		
		.shopping-cart {
			.cart-detail {
				height: 100%;
				
				h3 {
					font-family: 'PT Serif', serif;
					font-weight: 700;
					font-size: 1.8rem;
					margin: 0;
				}
				
				h4 {
					font-weight: 700;
					font-size: 1.6rem;
					margin: 0 0 .5rem;
				}
				
				h5 {
					font-family: 'PT Serif', serif;
					font-size: 1.4rem;
					color: #9a9a9a;
					margin: 0 0 .5rem;
				}
				
				h6 {
					font-weight: 300;
					font-size: 1.2rem;
					margin: 0;
				}
				
				.remove {
					display: block;
					color: color($colors, danger, base);
					font-size: 4rem;
					height: 20px;
					
					ion-icon {
						vertical-align: text-top;
						line-height: 20px;
					}
				}
			}
			
			.total {
				h2 {
					font-size: 2rem;
					font-weight: 700;
					
					&.label {
						font-weight: 300;
					}
				}
			}
		}
	}
}
