<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Shopping Cart</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<div class="empty-cart" *ngIf="isEmptyCart" text-center>
		<h3>Your cart is empty</h3>
		<button color="dark" ion-button (click)="goToShop()">Shop Now</button>
	</div>
	
	<div class="shopping-cart" *ngIf="!isEmptyCart">
		<ion-card *ngFor="let item of cartItems">
			<ion-card-content no-padding>
				<ion-row>
					<ion-col col-4 no-padding>
						<img src="{{ item.thumb }}">
					</ion-col>
					<ion-col col-8>
						<ion-row class="cart-detail">
							<ion-col col>
								<h4>{{ item.name }}</h4>
								<h5>{{ item.price | rupiahCurrency}}</h5>
								<h6>x {{ item.qty }}</h6>
							</ion-col>
							<ion-col col-auto>
								<span class="remove" (click)="removeItem(item.product_id)"><ion-icon name="close"></ion-icon></span>
							</ion-col>
							<ion-col col-12 text-right>
								<h3>{{ item.subtotal | rupiahCurrency}}</h3>
							</ion-col>
						</ion-row>
					</ion-col>
				</ion-row>
			</ion-card-content>
		</ion-card>
		
		<div class="total" padding>
			<ion-row>
				<ion-col col-auto no-padding>
					<h2 class="label" no-margin>Total</h2>
				</ion-col>
				<ion-col col no-padding>
					<h2 no-margin text-right>{{ totalAmount | rupiahCurrency}}</h2>
				</ion-col>
			</ion-row>
			<button ion-button icon-start color="dark" block margin-top (click)="checkOut()">
				<ion-icon name="checkmark"></ion-icon> Checkout
			</button>
		</div>
	</div>
</ion-content>