<ion-header>
	<ion-navbar>
		<button ion-button icon-only menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title><img src="assets/imgs/logo.svg" alt="" /></ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="openCart()">
				<ion-icon name="cart-outline" *ngIf="cartTotal == 0"></ion-icon>
				<ion-icon name="cart" *ngIf="cartTotal != 0"></ion-icon>
				<sup *ngIf="cartTotal != 0">{{ cartTotal }}</sup>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content>
	<ion-item no-padding *ngIf="pageLoaded">
		<ion-label padding-left>Category</ion-label>
		<ion-select [(ngModel)]="catID" (ionChange)="categorySelect(catID)">
			<ion-option selected="true" value="">All</ion-option>
			<ion-option *ngFor="let category of categories" value="{{ category.id }}">{{ category.name }}</ion-option>
		</ion-select>
	</ion-item>
	<ion-grid class="products" *ngIf="products && products?.length" padding-top>
		<ion-row>
			<ion-col col-12 no-padding margin-bottom>
				<h1 class="title" color="primary" *ngIf="pageLoaded" [innerHTML]="title" ion-text text-center text-uppercase no-margin></h1>
			</ion-col>
			<ion-col class="product" *ngFor="let product of products" (click)="productTapped($event, product.id)" col-6 col-md-4>
				<div *ngIf="product?.image" class="product-image">
					<img [defaultImage]="placeholder" [lazyLoad]="product.image" [offset]="300" [scrollTarget]="scrollerHandle" />
				</div>
				<div class="product-content" padding>
					<h3 [innerHTML]="product?.title" no-margin></h3>
					<h5 [innerHTML]="product?.price | rupiahCurrency" no-margin></h5>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-infinite-scroll *ngIf="!noMoreItemsAvailable" (ionInfinite)="doInfinite($event)">
		<ion-infinite-scroll-content loadingSpinner="dots" loadingText="">
		</ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>