page-shop {
	.item-select.item-block .item-inner {
		background-color: #252525;
		border-top: none;
		border-bottom: 1px solid #353535;
		
		ion-label {
			font-weight: 400;
		}
		
		ion-select {
			font-weight: 300;
		}
	}
}
