<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>{{ product?.title }}</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="openCart()">
				<ion-icon name="cart-outline" *ngIf="cartTotal == 0"></ion-icon>
				<ion-icon name="cart" *ngIf="cartTotal != 0"></ion-icon>
				<sup *ngIf="cartTotal != 0">{{ cartTotal }}</sup>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content>
	<ion-slides *ngIf="product?.images && product?.images?.length" pager loop autoplay="10000" speed="750">
		<ion-slide *ngFor="let image of product?.images">
			<img class="product-image" src="{{ image }}" alt="{{ product.title }}" />
		</ion-slide>
	</ion-slides>
	<div *ngIf="pageLoaded" class="product-content" padding>
		<h2 [innerHTML]="product?.title" class="product-title" no-margin text-center></h2>
		<h3 [innerHTML]="product?.price | rupiahCurrency" class="product-price" no-margin text-center></h3>
		<div [innerHTML]="product?.description" margin-top text-left></div>
	</div>
	<ion-grid *ngIf="pageLoaded" class="cart-form" padding-horizontal>
		<ion-row class="qty-input" align-items-center no-padding>
			<ion-col col-3 no-padding>
				<button ion-button block icon-only color="dark" clear (click)="decQty()">
					<ion-icon name="remove"></ion-icon>
				</button>
			</ion-col>
			<ion-col col-6 no-padding>
				<ion-input type="number" placeholder="0" min="1" max="100" value="{{ qty }}" text-center></ion-input>
			</ion-col>
			<ion-col col-3 no-padding>
				<button ion-button block icon-only color="dark" clear (click)="addQty()">
					<ion-icon name="add"></ion-icon>
				</button>
			</ion-col>
		</ion-row>
		<ion-row no-padding>
			<ion-col col-12 no-padding>
				<button ion-button block icon-start color="dark" (click)="addToCart(product)">
					<ion-icon name="cart"></ion-icon> Add to Cart
				</button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>