page-product {
	ion-slides {
		width: 100vw;
		height: 60vh;
		border-bottom: 1px solid #eee;
		
		.swiper-pagination {
			.swiper-pagination-bullet {
				width: 15px;
				height: 15px;
				background-color: #e2e3e4;
				
				&.swiper-pagination-bullet-active {
					background-color: #e2e3e4;
				}
			}
		}
	}
	
	.product-content {
		
		.product-title {
			font-family: 'Berthold Akzidenz Grotesk', sans-serif;
			font-size: 3rem;
			font-weight: 600;
			line-height: 1.1;
			letter-spacing: -.17px;
			text-transform: uppercase;
			margin: 0 0 .5rem;
		}
		
		.product-price {
			color: rgba(0,0,0,.54);
			font-weight: 300;
			font-size: 2rem;
			line-height: 1.1;
		}
		
		h4 {
			color: #252525;
			margin: 0 0 .5rem;
			font-weight: 300;
		}
		
		ul, ol {
			padding-left: 20px;
			margin-top: 0;
		}
		
		p {
			margin-top: 0;
		}
	}
	
	.cart-form {
		button,
		ion-input {
			height: 40px;
			margin: 0;
			border-radius: 0;
			-webkit-border-radius: 0;
			
			.text-input {
				width: 100%;
				margin: 0;
				line-height: 40px;
			}
		}
		
		.qty-input {
			margin-bottom: 10px;
			border: 1px solid #000;
			
			ion-col:nth-child(2) {
				border-right: 1px solid #000;
				border-left: 1px solid #000;
			}
		}
	}
}
