<ion-header>
	<ion-navbar>
		<ion-buttons end>
			<button ion-button icon-only (click)="sharePost($event, post.title, post.url)">
				<ion-icon name="ios-share-outline"></ion-icon>
			</button>
			<button ion-button icon-only (click)="commentsTapped($event, post.id)">
				<ion-icon name="ios-text-outline"></ion-icon>
			</button>
			<button ion-button icon-only *ngIf="!isBookmark" (click)="addBookmark($event, post)">
				<ion-icon name="ios-bookmark-outline"></ion-icon>
			</button>
			<button ion-button icon-only *ngIf="isBookmark" (click)="removeBookmark($event, post)">
				<ion-icon name="ios-bookmark"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content [style.color]="post?.color" [style.backgroundColor]="post?.background">
	<div class="post-cover" *ngIf="post?.format != 'video' && post?.cover"><div class="parallax-bg" [defaultImage]="placeholder" [lazyLoad]="post.cover" [offset]="50"></div></div>
	<div class="post-video" *ngIf="post?.format == 'video'"><div class="video-wrapper" [innerHTML]="post?.video | safe: 'html'"></div></div>
	<div padding>
		<h2 [innerHTML]="post?.title" class="post-title" no-margin></h2>
		<ion-row class="post-detail" no-padding justify-content-between>
			<ion-col *ngIf="post?.date" col-auto no-padding>
				<button ion-button icon-start clear small no-padding>
					<ion-icon name="ios-time-outline"></ion-icon>
					<div [innerHTML]="post?.date"></div>
				</button>
			</ion-col>
			<ion-col *ngIf="post?.author" col-auto no-padding>
				<button ion-button icon-start clear small no-padding>
					<ion-icon name="ios-person"></ion-icon>
					<div [innerHTML]="post?.author"></div>
				</button>
			</ion-col>
		</ion-row>
		<div *ngIf="post?.headline" class="post-headline" [innerHTML]="post?.headline" margin-top></div>
		<div class="post-audio" *ngIf="post?.format == 'audio'" [innerHTML]="post?.audio | safe: 'html'" margin-top></div>
		<div class="post-content" [innerHTML]="post?.content" margin-top></div>
	</div>
	<div class="post-playlist" *ngIf="post?.format == 'audio' && post?.playlist != ''" padding>
		<ion-list>
			<button ion-item *ngFor="let list of post?.playlist">{{ list.artist }} - {{ list.title }}</button>
		</ion-list>
	</div>
	<h2 *ngIf="pageLoaded" class="post-title" padding-horizontal padding-top no-margin>You May Also Like</h2>
	<ion-grid class="posts" *ngIf="pageLoaded">
		<ion-row class="related-posts" align-items-start>
			<ion-col class="post" col-6 *ngFor="let post of related">
				<div *ngIf="post.thumbnail" class="post-image">
					<span *ngIf="post.format" class="post-format">
						<ion-icon *ngIf="post.format == 'video'" name="ios-videocam"></ion-icon>
						<ion-icon *ngIf="post.format == 'audio'" name="ios-musical-notes"></ion-icon>
						<ion-icon *ngIf="post.format == 'gallery'" name="ios-images"></ion-icon>
					</span>
					<img [defaultImage]="placeholder" [lazyLoad]="post.thumbnail" [offset]="300" [scrollTarget]="scrollerHandle" alt="{{ post.title }}" />
				</div>
				<div class="post-content">
					<h4 [innerHTML]="post.title" no-margin></h4>
					<ion-row no-padding>
						<ion-col *ngIf="post.date" col-auto no-padding>
							<button ion-button icon-start clear small no-padding>
								<ion-icon name="ios-time-outline"></ion-icon>
								<div>{{ post.date }}</div>
							</button>
						</ion-col>
						<ion-col *ngIf="post.author" col-auto no-padding margin-left>
							<button ion-button icon-start clear small no-padding>
								<ion-icon name="ios-person"></ion-icon>
								<div>{{ post.author }}</div>
							</button>
						</ion-col>
					</ion-row>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
