page-post {
	.post-cover {
		position: relative;
		width: 100%;
		height: 30vh;
		overflow: hidden;
		-webkit-box-shadow: inset 0 0 25px rgba(0,0,0,.5);
		box-shadow: inset 0 0 15px rgba(0,0,0,.5);
		
		.parallax-bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 120%;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
		}
	}
	
	.post-video {
		position: relative;
		
		button.button {
			position: absolute;
			font-size: 2.2em;
			top: 50%;
			left: 50%;
			width: 80px;
			height: 50px;
			padding: 0;
			line-height: 50px;
			text-align: center;
			border-radius: 10px;
			-webkit-border-radius: 10px;
			transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
		}
		
		.video-wrapper {
			position: relative;
			padding-bottom: 56.25%;
			overflow: hidden;
			max-width: 100%;
			height: auto;
			
			iframe, object, embed {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}	
	}
	
	.post-title {
		font-family: 'Berthold Akzidenz Grotesk', sans-serif;
		font-size: 3.4rem;
		font-weight: 600;
		line-height: 1.1;
		letter-spacing: -.17px;
		text-transform: uppercase;
	}
	
	.post-detail {
		margin-top: .5rem;
		
		ion-col {
			button {
				margin: 0;
				font-weight: 300;
				font-size: 1.6rem;
				color: inherit;
				opacity: .75;
				text-transform: capitalize;
				
				.button-inner {
					line-height: 1;
				}
				
				ion-icon {
					line-height: 1;
				}
			}
		}
	}
	
	.post-headline {
		p {
			padding-top: .5rem;
			padding-bottom: .5rem;
			margin: 0;
			font-size: 2rem;
			font-weight: 500;
			line-height: 1.6;
			border-top: 1px solid currentColor;
			border-bottom: 1px solid currentColor;
		}
	}
	
	.post-content {
		color: inherit;
		font-weight: 300;
		font-size: 2rem;
		line-height: 1.6;
		
		hr {
			display: none;
		}
		
		b, strong {
			font-weight: 600;
		}
		
		a {
			color: inherit;
			text-decoration: underline;
		}
		
		img {
			width: 100%;
			height: auto!important;
		}
		
		.post-title {
			font-weight: 600;
		}
		
		.post-date,
		.post-author,
		.post-credit {
			font-size: .9em;
			font-weight: 400;
			margin: 0 0 10px;
			
			ion-icon {
				width: 14px;
				text-align: center;
				vertical-align: middle;
				margin-right: 5px;
			}
		}
		
		.share-buttons {
			.row {
				margin: 0 -1px;
				
				.button {
					border-radius: 0;
					-webkit-border-radius: 0;
					border: 1px solid color($colors, light, base);
				}
			}
		}
	}
}
