// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// Marat Sans
@font-face {
    font-family: 'Marat Sans';
    src: url('../assets/fonts/marat_sans_light-webfont.woff2') format('woff2'),
         url('../assets/fonts/marat_sans_light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Marat Sans';
    src: url('../assets/fonts/marat_sans_light_italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/marat_sans_light_italic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Marat Sans';
    src: url('../assets/fonts/marat_sans_regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/marat_sans_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Marat Sans';
    src: url('../assets/fonts/marat_sans_italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/marat_sans_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Marat Sans';
    src: url('../assets/fonts/marat_sans_medium-webfont.woff2') format('woff2'),
         url('../assets/fonts/marat_sans_medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Marat Sans';
    src: url('../assets/fonts/marat_sans_medium_italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/marat_sans_medium_italic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Marat Sans';
    src: url('../assets/fonts/marat_sans_demibold-webfont.woff2') format('woff2'),
         url('../assets/fonts/marat_sans_demibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Marat Sans';
    src: url('../assets/fonts/marat_sans_demibold_italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/marat_sans_demibold_italic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Marat Sans';
    src: url('../assets/fonts/marat_sans_bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/marat_sans_bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Marat Sans';
    src: url('../assets/fonts/marat_sans_bold_italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/marat_sans_bold_italic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

//Berthold Akzidenz Grotesk
@font-face {
	font-family: 'Berthold Akzidenz Grotesk';
	src: url('../assets/fonts/berthold-akzidenz-grotesk-be-bold-condensed-webfont.woff2') format('woff2'),
		url('../assets/fonts/berthold-akzidenz-grotesk-be-bold-condensed-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

//Digital 7
@font-face {
	font-family: 'Digital 7';
	src: url('../assets/fonts/digital-7-webfont.woff2') format('woff2'),
		url('../assets/fonts/digital-7-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

//Flaticon
@font-face {
	font-family: 'Flaticon';
	src: url('../assets/fonts/flaticon.eot');
	src: url('../assets/fonts/flaticon.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/flaticon.woff') format('woff'),
		url('../assets/fonts/flaticon.ttf') format('truetype'),
		url('../assets/fonts/flaticon.svg#Flaticon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: 'Flaticon';
		src: url('../assets/fonts/flaticon.svg#Flaticon') format('svg');
	}
}

@-webkit-keyframes fadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}

@keyframes fadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}

@keyframes animate-v {
	0% { transform: translate(0px, -400px); opacity: 1; }
	50% { transform: translate(0px, 0); opacity: 1; }
	100% { transform: translate(0px, 0px); opacity: 1; }
}

@keyframes animate-a {
	0% { transform: translate(0px, 400px); opacity: 1; }
	50% { transform: translate(0px, 0px); opacity: 1; }
	100% { transform: translate(0px, 0px); opacity: 1; }
}

.splash {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #151515;

	&.fadeOut {
		animation: fadeOut 1s forwards ease-out;
		-webkit-animation: fadeOut 1s forwards ease-out;
	}

	.loader {
		width: auto;
		height: auto;
		max-width: 30vw;
		max-height: 30vh;

		img {
			display: block;
			width: 100%;
			height: auto;
		}
		
		svg {
			display: block;
			width: 100%;
			height: auto;
			
			#logo-v {
				transform: translate(0px, -400px);
			};
			
			#logo-a {
				transform: translate(0px, 400px);
			};
			
			&.animate {
				#logo-v {
					transform-origin: 50% 50% !important;
					animation: animate-v 1.5s forwards ease-in;
				}
				
				#logo-a {
					transform-origin: 50% 50% !important;
					animation: animate-a 1.5s forwards ease-in;
				}
			}
		}
	}
}

.title {
	font-family: 'Berthold Akzidenz Grotesk', sans-serif;
}

*[no-margin-bottom] { margin-bottom: 0; }
*[no-margin-top] { margin-top: 0; }
*[no-padding-bottom] { padding-bottom: 0; }
*[no-padding-top] { padding-top: 0; }

ion-loading {
	.loading-wrapper {
		background: transparent!important;
		box-shadow: none!important;
		-webkit-box-shadow: none!important;
	}

	ion-backdrop.backdrop-no-tappable {
		display: none;
	}

	.fa-loading {
		img {
			width: 15vw;
			height: auto;
			max-height: 40vh;
		}
	}
}

.music-player {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 9;
	display: flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	align-items: stretch;
	color: #fff;
	background-color: #000;
	
	&.tabs-show {
		bottom: 49.55px;
	}
	
	.player {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%;
		max-height: 60px;
		overflow: hidden;
	}
	
	button {
		all: unset;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: auto;
		max-width: none;
		max-height: 60px;
		margin: 0;
		border: none;
		padding: 0 .25rem;
		color: #fff;
		font-size: 2rem;
	}
}

// Header
ion-header {
	&::after {
		display: none;
	}

	.toolbar-background {
		background: #000000;
		border: none;
		border-bottom: 1px solid #252525!important;
	}

	.toolbar {
		padding: 4px 10px;
		min-height: 60px;

		ion-searchbar.searchbar {
			.searchbar-search-icon {
				left: 10px;
				background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2013%2013'><path%20fill='rgba(255,%20255,%20255,%200.75)'%20d='M5,1c2.2,0,4,1.8,4,4S7.2,9,5,9S1,7.2,1,5S2.8,1,5,1%20M5,0C2.2,0,0,2.2,0,5s2.2,5,5,5s5-2.2,5-5S7.8,0,5,0%20L5,0z'/><line%20stroke='rgba(255,%20255,%20255,%200.75)'%20stroke-miterlimit='10'%20x1='12.6'%20y1='12.6'%20x2='8.2'%20y2='8.2'/></svg>");
			}
			.searchbar-input {
				&::placeholder {
					color: rgba(255, 255, 255, .75);
				}

				padding-left: 40px;
				padding-right: 10px;
				color: #fff;
				background: transparent;
				border-bottom: 1px solid #ff4800;
				-webkit-border-radius: 0;
				border-radius: 0;
			}

			.searchbar-md-cancel {
				left: 10px;
			}

			button.button:not(.searchbar-clear-icon) {
				color: #fff;
				border: none;
				background-color: transparent;
				padding-left: .5rem;
				padding-right: .75rem;
				font-size: 1.2rem;
				-webkit-border-radius: 0;
				border-radius: 0;
			}

			button.button.searchbar-clear-icon {
				background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20512%20512'><path%20fill='rgba(255,%20255,%20255,%200.75)'%20d='M403.1,108.9c-81.2-81.2-212.9-81.2-294.2,0s-81.2,212.9,0,294.2c81.2,81.2,212.9,81.2,294.2,0S484.3,190.1,403.1,108.9z%20M352,340.2L340.2,352l-84.4-84.2l-84,83.8L160,339.8l84-83.8l-84-83.8l11.8-11.8l84,83.8l84.4-84.2l11.8,11.8L267.6,256L352,340.2z'/></svg>");
			}
		}

		ion-title {
			left: 0;
			top: 0;
			padding: 0 90px 1px;
			position: absolute;
			width: 100%;
			height: 100%;
			-webkit-transform: translateZ(0);
			transform: translateZ(0);
			pointer-events: none;

			.toolbar-title {
				max-height: 60px;
				line-height: 60px;
				font-size: 2rem;
				font-weight: 600;
				font-family: 'Messina Sans', sans-serif;
				text-align: center;
				color: color($colors, light, base);

				img {
					display: inline-block;
					width: auto;
					height: 30px;
					vertical-align: middle;
				}
			}
		}

		ion-icon.ion-ios-contact {
			font-size: 1.4em;
		}

		.button,
		.bar-button-default,
		.bar-button-clear-default {
			color: #FFFFFF;
			line-height: 50px;
			font-size: 1.7rem;
			margin: 0;
		}

		button {
			sup {
				width: 17px;
				height: 17px;
				line-height: 15px;
				font-size: 1rem;
				font-weight: 700;
				border-radius: 50%;
				-webkit-border-radius: 50%;
				color: #fff;
				background-color: #ff4800;
				top: -1rem;
				margin-left: -.75rem;
				border: 1px solid #000;
			}
		}

		ion-buttons .bar-button-default {
			margin-left: 10px;
		}
	}
	.back-button-text {
		display: none;
	}
}

// Contents
ion-content {
	.posts {
		.title {
			margin: 0 0 7.5px;
		}

		.post {
			.post-image {
				position: relative;
				padding-top: 0;
				padding-bottom: 0;
				
				img {
					display: block;
					width: 100%;
					height: auto;
					border: 1px solid rgba(0,0,0,.05);
				}
				
				.post-format {
					position: absolute;
					top: calc(.5rem + 8px);
					left: calc(7.5px + .75rem);
					width: auto;
					line-height: 16px;
					color: #fff;
					font-size: 1.5rem;
					font-family: 'Berthold Akzidenz Grotesk', sans-serif;
					letter-spacing: 1px;
					text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	
					ion-icon {
						line-height: 30px;
					}
				}
				
				.post-like {
					position: absolute;
					top: .5rem;
					right: calc(7.5px + .75rem);
					width: 32px;
					height: 32px;
					color: #fff;
					background-color: rgba(255, 255, 255, .35);
					font-size: 1.8rem;
					-webkit-border-radius: 50%;
					border-radius: 50%;
					text-align: center;
	
					ion-icon {
						line-height: 32px;
					}
				}
			}

			.post-content {
				// margin-top: 7.5px;
				// padding-bottom: 15px;
				// border-bottom: 1px solid rgba(0,0,0,.15);

				h3 {
					font-weight: 500;
					line-height: 1.1;
					letter-spacing: -.17px;
					margin-bottom: .25rem;
				}

				button {
					margin: 0;
					font-weight: 300;
					font-size: 1.4rem;
					// color: rgba(0,0,0,.54);
					color: inherit;
					opacity: .6;
					text-transform: capitalize;
					max-width: 100%;

					.button-inner {
						line-height: 1;

						div {
							overflow: hidden;
							text-overflow: ellipsis;
						}
					}

					ion-icon {
						width: 25px;
						line-height: 1;
					}
				}

				p {
					font-weight: 400;
					font-size: 1.4rem;
					line-height: 1.4;
					color: rgba(0,0,0,.54);
					margin-top: .5rem;

					ion-icon {
						min-width: 15px;
						text-align: center;
						margin-right: .5rem;
					}
				}

				&.event {
					button {
						ion-icon {
							min-width: 20px;
							text-align: center;
						}
					}
				}
			}

			hr {
				height: 0!important;
				border-bottom: 1px solid rgba(0,0,0,.15)!important;
				margin: 0 7.5px;
			}

			&:last-child {
				hr {
					display: none;
				}
			}
		}
	}

	.products {
		.product {
			padding-top: 0;
			padding-bottom: 0;
			margin-bottom: 15px;
			
			.product-image {
				border: 1px solid rgba(0,0,0,.05);
			}

			.product-content {
				padding: 10px 0 0;
				text-align: center;

				h3 {
					font-size: 2rem;
					font-weight: 500;
					line-height: 1.1;
					letter-spacing: -.17px;
					margin-bottom: .5rem;
				}

				h5 {
					font-size: 1.75rem;
					font-weight: 400;
					line-height: 1.4;
					color: rgba(255,255,255,.54);
				}
			}
		}
	}

	.copyright {
		background-color: #f5f5f5;
		font-size: .8em;
		border-top: 1px solid #eee;
	}
}

// Menu
ion-menu {
	ion-header {
		.toolbar-background,
		.toolbar-background.toolbar-background-ios {
			background: #333;
		}

		.toolbar {
			.toolbar-title {
				font-weight: 600;
				font-size: 1.2em;
				color: #fff;
			}
		}
	}
	ion-content {
		.item {
			padding-left: 0;

			ion-label {
				font-weight: 400;
				font-size: .8em;
				padding: 5px 15px;
				color: #333;
			}
		}
	}
}

ion-tabs {
	&.tabs {
		.tabbar {
			border-top: 1px solid #252525;
			background: #000;
			.tab-button {
				color: #999;
				.tab-button-icon {
					color: #999;
					font-size: 3rem;
				}
				.tab-button-text {
					margin-top: 2px;
					font-size: 1rem;
				}
				&[aria-selected=true] {
					color: #ff4800;
					.tab-button-icon {
						color: #ff4800;
						-webkit-transform: none;
						transform: none;
					}
					.tab-button-text {
						-webkit-transform: none;
						transform: none;
					}
				}
			}
		}
	}
}
