<ion-menu [content]="content">
	<ion-header>
		<ion-toolbar>
			<ion-title>Menu</ion-title>
		</ion-toolbar>
	</ion-header>
	<ion-content>
		<ion-list>
			<button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">{{p.title}}</button>
		</ion-list>
	</ion-content>
</ion-menu>

<div class="music-player" [class.tabs-show]="tabShow" *ngIf="showAudio">
	<div class="player" [innerHTML]="audioPlayer | safe: 'html'"></div>
	<button ion-button color="light" clear icon-only (click)="closePlayer()">
		<ion-icon name="ios-close"></ion-icon>
	</button>
</div>

<div *ngIf="showSplash" [class.fadeOut]="onLoading" class="splash">
	<div class="loader">
		<svg id="animate" [class.animate]="appLoaded" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 500 338.77">
			<defs>
				<clipPath id="clip-a" transform="translate(0 0.38)">
					<polygon id="mask-a" points="500 338 157 338 344 0 500 0 500 338" style="fill:none"/>
				</clipPath>
				<clipPath id="clip-v" transform="translate(0 0.38)">
					<polygon id="mask-v" points="0 0 343 0 156 338 0 338 0 0" style="fill:none"/>
				</clipPath>
			</defs>
			<g id="sec-a" style="clip-path:url(#clip-a)">
				<path id="logo-a" d="M500,338.38H414.83l-52.63-222h-1L245,338.38H165.06L352.15-.38H412Z" transform="translate(0 0.38)" style="fill:#ff4800"/>
			</g>
			<g id="sec-v" style="clip-path:url(#clip-v)">
				<path id="logo-v" d="M0-.38H85.17l52.63,222h1L255-.38h79.91L147.85,338.38H88Z" transform="translate(0 0.38)" style="fill:#ffffff"/>
			</g>
		</svg>
	</div>
</div>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>