<ion-header>
	<ion-navbar>
		<ion-searchbar #searchBar *ngIf="isSearchBarOpen" [showCancelButton]="true" (ionCancel)="isSearchBarOpen = false" (search)="onSearch($event)"></ion-searchbar>
		<button *ngIf="!isSearchBarOpen" ion-button icon-only menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title *ngIf="!isSearchBarOpen"><img src="assets/imgs/logo.svg" alt="" /></ion-title>
		<ion-buttons *ngIf="!isSearchBarOpen" end>
			<button ion-button icon-only (click)="openSearchbar($event)">
				<ion-icon name="ios-search-outline"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content>
	<ion-slides *ngIf="features && features?.length" pager loop autoplay="10000" speed="750" #swiper>
		<ion-slide *ngFor="let feature of features" [style.backgroundImage]="'url(' + feature.thumbnail + ')'" (click)="postTapped($event, feature)">
			<ion-grid>
				<ion-row class="feature-content" align-items-center>
					<span class="post-format" *ngIf="feature?.format" color="light" [innerHTML]="feature?.format" text-uppercase></span>
					<ion-col color="light" col-12 no-padding-bottom no-padding-top>
						<h2 class="feature-title title" [innerHTML]="feature?.title"></h2>
					</ion-col>
					<ion-col *ngIf="feature?.date" col-auto no-padding-top>
						<button color="light" ion-button icon-start clear small no-padding no-margin>
							<ion-icon name="ios-time-outline"></ion-icon>
							<div>{{ feature?.date }}</div>
						</button>
					</ion-col>
					<ion-col *ngIf="feature?.author" col-auto no-padding-top margin-left>
						<button color="light" ion-button icon-start clear small no-padding no-margin>
							<ion-icon name="ios-person"></ion-icon>
							<div>{{ feature?.author }}</div>
						</button>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-slide>
	</ion-slides>
	<div class="posts" *ngIf="posts && posts?.length" padding-vertical>
		<h1 class="title" color="primary" *ngIf="pageLoaded" ion-text text-center text-uppercase>Latest News</h1>
		<ion-grid class="post" *ngFor="let post of posts" (click)="postTapped($event, post)">
			<ion-row align-items-center>
				<ion-col *ngIf="post.thumbnail" class="post-image" col-12 col-md-6>
					<span *ngIf="post.format" class="post-format" text-uppercase>{{ post.format }}</span>
					<span class="post-like"><ion-icon name="heart"></ion-icon></span>
					<img [defaultImage]="placeholder" [lazyLoad]="post.thumbnail" [offset]="300" [scrollTarget]="scrollerHandle" alt="{{ post.title }}" />
				</ion-col>
				<ion-col class="post-content" col-12 col-md-6>
					<h3 [innerHTML]="post.title" no-margin></h3>
					<ion-row no-padding>
						<ion-col *ngIf="post.date" col-auto no-padding>
							<button ion-button icon-start clear small no-padding>
								<ion-icon name="ios-time-outline"></ion-icon>
								<div>{{ post.date }}</div>
							</button>
						</ion-col>
						<ion-col *ngIf="post.author" col-auto no-padding margin-left>
							<button ion-button icon-start clear small no-padding>
								<ion-icon name="ios-person"></ion-icon>
								<div>{{ post.author }}</div>
							</button>
						</ion-col>
					</ion-row>
				</ion-col>
			</ion-row>
			<hr>
		</ion-grid>
	</div>
	<ion-infinite-scroll *ngIf="!noMoreItemsAvailable" (ionInfinite)="doInfinite($event)">
		<ion-infinite-scroll-content loadingSpinner="dots" loadingText="">
		</ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>
