page-news {
	ion-slides {
		width: 100vw;
		height: 80vw;
		border-bottom: 1px solid #252525;
		
		ion-slide.swiper-slide {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			
			.slide-zoom {
				height: 100%;
				display: flex;
				align-items: flex-end;
				padding-bottom: 25px;
				margin-bottom: -1px;
				background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 68%, rgba(0,0,0,0.75) 100%);
				background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 68%,rgba(0,0,0,0.75) 100%);
				background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 68%,rgba(0,0,0,0.75) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#bf000000',GradientType=0 );
			}
			
			.feature-content {
				text-align: left;
				padding: 0 1rem;
				color: color($colors, light, base);
				text-shadow: 0 0 10px rgba(0, 0, 0, 0.33);
				
				.post-format {
					position: absolute;
					top: 15px;
					left: 25px;
					font-size: 1.6rem;
					font-family: 'Berthold Akzidenz Grotesk', sans-serif;
					letter-spacing: 1px;
					text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
					
					ion-icon {
						display: inline-block;
						vertical-align: middle;
					}
					span {
						display: inline-block;
						vertical-align: middle;
						font-size: 1.1rem;
						letter-spacing: 1px;
						text-transform: uppercase;
						margin-left: .25rem;
					}
				}
				
				h2.feature-title {
					font-size: 3rem;
					font-weight: 800;
					text-transform: uppercase;
					margin: 0;
					line-height: 1.1;
				}
				
				button {
					padding: 0;
					height: 20px;
					line-height: 20px;
					text-transform: capitalize;
					
					.button-inner {
						height: 20px;
					}
					
					ion-icon {
						line-height: 20px;
					}
				}
			}
		}
		
		.swiper-pagination {
			.swiper-pagination-bullet {
				width: 10px;
				height: 10px;
				background-color: #e2e3e4;
				
				&.swiper-pagination-bullet-active {
					background-color: #e2e3e4;
				}
			}
		}
	}
	
	ion-content {
		padding: 0!important;
		
		.feature {
			position: relative;
			
			.feature-title {
				position: absolute;
				top: 50%;
				left: 50%;
				margin: 0;
				color: #FFF;
				font-size: 2em;
				font-weight: 700;
				font-family: 'Open Sans Condensed', sans-serif;
				text-shadow: 1px 1px rgba(0, 0, 0, .15);
				transform: translate(-50%, -50%);
				-webkit-transform: translate(-50%, -50%);
			}
		}
	}
}