<ion-header>
	<ion-navbar>
		<ion-title>{{ artist?.title }}</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<div class="artist-cover" *ngIf="artist?.cover"><div class="parallax-bg" [defaultImage]="placeholder" [lazyLoad]="artist?.cover" [offset]="50"></div></div>
	<div padding>
		<h2 [innerHTML]="artist?.title" class="post-title" no-margin></h2>
		<ion-segment [(ngModel)]="artists" *ngIf="pageLoaded">
			<ion-segment-button icon-start value="details">
				<ion-icon [name]="artists != 'details' ? 'ios-contact-outline' : 'ios-contact'"></ion-icon>
			</ion-segment-button>
			<ion-segment-button icon-start value="tracks">
				<ion-icon [name]="artists != 'tracks' ? 'ios-musical-notes-outline' : 'ios-musical-notes'"></ion-icon>
			</ion-segment-button>
		</ion-segment>
	</div>
	<div [ngSwitch]="artists" padding-horizontal>
		<div class="artist-content" *ngSwitchCase="'details'">
			<h4 *ngIf="artist?.genre" no-margin>Details</h4>
			<ion-row class="artist-detail" no-padding margin-bottom justify-content-between>
				<ion-col *ngIf="artist?.genre" col-12 no-padding>
					<button ion-button icon-start clear small no-padding>
						<ion-icon name="ios-musical-notes-outline"></ion-icon>
						<div>{{ artist?.genre }}</div>
					</button>
				</ion-col>
				<ion-col *ngIf="artist?.city" col-12 no-padding>
					<button ion-button icon-start clear small no-padding>
						<ion-icon name="ios-pin"></ion-icon>
						<div>{{ artist?.city }}</div>
					</button>
				</ion-col>
				<ion-col *ngIf="artist?.booking" col-12 no-padding>
					<button ion-button icon-start clear small no-padding>
						<ion-icon name="ios-mail-outline"></ion-icon>
						<div>{{ artist?.booking }}</div>
					</button>
				</ion-col>
				<ion-col *ngIf="artist?.website" col-12 no-padding>
					<button ion-button icon-start clear small no-padding>
						<ion-icon name="ios-globe-outline"></ion-icon>
						<div>{{ artist?.website }}</div>
					</button>
				</ion-col>
			</ion-row>
			<h4 *ngIf="artist?.biography" no-margin>Biography</h4>
			<div class="artist-biography" *ngIf="artist?.biography" [innerHTML]="artist?.biography" margin-bottom></div>
			<h4 *ngIf="artist?.socials" no-margin>Follow On</h4>
			<div text-center>
				<button *ngFor="let social of artist?.socials" ion-button icon-only clear small margin-horizontal (click)="goToLink($social, social.url)" >
					<ion-icon name="{{ social.site.value }}"></ion-icon>
				</button>
			</div>
		</div>
		<div class="artist-tracks" *ngSwitchCase="'tracks'">
			<h3 *ngIf="artist?.tracks">Tracks</h3>
			<div *ngFor="let track of artist?.tracks" [innerHTML]="track.track_embed_code  | safe: 'html'" margin-bottom></div>
		</div>
	</div>
</ion-content>
