page-artist {
	.artist-cover {
		position: relative;
		width: 100%;
		height: 30vh;
		overflow: hidden;
		-webkit-box-shadow: inset 0 0 25px rgba(0,0,0,.5);
		box-shadow: inset 0 0 15px rgba(0,0,0,.5);
		
		.parallax-bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 120%;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
		}
	}
	
	.post-title {
		font-family: 'Berthold Akzidenz Grotesk', sans-serif;
		font-size: 3.4rem;
		font-weight: 600;
		line-height: 1.1;
		letter-spacing: -.17px;
		text-transform: uppercase;
	}
	
	ion-segment.segment {
		.segment-button {
			&:first-of-type {
				border-radius: 0;
				-webkit-border-radius: 0;
			}
			
			&:last-of-type {
				border-radius: 0;
				-webkit-border-radius: 0;
			}
		}
	}
	
	.artist-content {
		color: color($colors, primary, base);
		
		h4 {
			font-size: 2.4rem;
			font-weight: 500;
			margin: 0;
		}
		
		.artist-detail {
			margin-top: .5rem;
			
			ion-col {
				button {
					margin: 0;
					font-weight: 300;
					font-size: 1.6rem;
					color: inherit;
					opacity: .75;
					text-transform: none;
					
					.button-inner {
						line-height: 1;
					}
					
					ion-icon {
						min-width: 25px;
						line-height: 1;
						text-align: center;
					}
				}
			}
		}
	}
	
	.artist-biography {
		color: inherit;
		font-weight: 300;
		font-size: 2rem;
		line-height: 1.4;
		
		*:first-child {
			margin-top: .5rem;
		}
		
		hr {
			display: none;
		}
		
		b, strong {
			font-weight: 600;
		}
		
		a {
			color: inherit;
			text-decoration: underline;
		}
		
		img {
			width: 100%;
			height: auto!important;
		}
		
		.post-title {
			font-weight: 600;
		}
		
		.post-date,
		.post-author,
		.post-credit {
			font-size: .9em;
			font-weight: 400;
			margin: 0 0 10px;
			
			ion-icon {
				width: 14px;
				text-align: center;
				vertical-align: middle;
				margin-right: 5px;
			}
		}
		
		.share-buttons {
			.row {
				margin: 0 -1px;
				
				.button {
					border-radius: 0;
					-webkit-border-radius: 0;
					border: 1px solid color($colors, light, base);
				}
			}
		}
	}
}