page-vaults {
	.posts {
		.post {
			position: relative;
			
			.post-image {
				position: relative;
				
				h2 {
					position: absolute;
					top: 50%;
					left: 0;
					width: 100%;
					text-align: center;
					font-family: 'Berthold Akzidenz Grotesk', sans-serif;
					letter-spacing: 1px;
					text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
					line-height: 26px;
					margin: -13px 0 0;
					padding: 0;
					font-size: 3rem;
					z-index: 9;
				}
				
				.post-format {
					left: 20px;
					z-index: 9;
				}
			}
			
			.post-content {
				position: absolute;
				left: 0;
				bottom: 10px;
				padding: 0 20px!important;
				
				h4 {
					font-size: 1.8rem;
					margin: 0;
					
					&.counter {
						font-family: 'Digital 7', sans-serif;
						
						i {
							font-family: $font-family-md-base;
							font-size: .8rem;
						}
						
						b {
							font-weight: 400;
							color: #ff4800;
						}
					}
				}
			}
		}
	}
}
