<ion-header>
	<ion-navbar>
		<button ion-button icon-only menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title><img src="assets/imgs/logo.svg" alt="" /></ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<div class="posts" *ngIf="vaults && vaults?.length" no-padding>
		<ion-grid class="post" *ngFor="let vault of vaults" (click)="vaultTapped($vault, vault.id)" [ngClass]="{ 'on-playing' : checkRelease(vault?.release_date) }" no-padding>
			<ion-row align-items-center>
				<ion-col *ngIf="vault.thumbnail" class="post-image" col-12 col-md-6 no-padding>
					<span class="post-format" text-uppercase>Exclusive Stream</span>
					<span class="post-like"><ion-icon name="heart"></ion-icon></span>
					<h2 [innerHTML]="vault?.title" no-margin text-uppercase></h2>
					<img [defaultImage]="placeholder" [lazyLoad]="vault.thumbnail" [offset]="300" [scrollTarget]="scrollerHandle" />
				</ion-col>
				<ion-col class="post-content vault" col-12 col-md-6>
					<ion-row no-padding align-items-end>
						<ion-col *ngIf="vault?.artist" col no-padding>
							<h4 class="title" [innerHTML]="vault?.artist_name" text-uppercase></h4>
							<span [innerHTML]="vault?.artist_city"></span>
						</ion-col>
						<ion-col *ngIf="vault?.release_date" col no-padding text-right>
							<h4 class="counter" [innerHTML]="vault?.release_date | countdown: now" text-uppercase></h4>
						</ion-col>
					</ion-row>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
	<ion-infinite-scroll *ngIf="!noMoreItemsAvailable" (ionInfinite)="doInfinite($vault)">
		<ion-infinite-scroll-content loadingSpinner="dots" loadingText="">
		</ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>
