<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Checkout</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>

	<ion-list>
		<ion-item-divider color="danger">Personal Details</ion-item-divider>
		<ion-item>
			<ion-label>First Name</ion-label>
			<ion-input type="text"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>Last Name</ion-label>
			<ion-input type="text"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>Email</ion-label>
			<ion-input readonly type="email"></ion-input>
		</ion-item>
		
		<ion-item-divider color="danger">Billing Details</ion-item-divider>
		<ion-item>
			<ion-label>Address Line 1</ion-label>
			<ion-textarea type="text" maxlength="80"></ion-textarea>
		</ion-item>
		<ion-item>
			<ion-label>Address Line 2</ion-label>
			<ion-textarea type="text" maxlength="80"></ion-textarea>
		</ion-item>
		<ion-item>
			<ion-label>Country</ion-label>
			<ion-select>
				<ion-option value="Indonesia" selected="true">Indonesia</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label>State</ion-label>
			<ion-select>
				<ion-option value="DKI Jakarta">DKI Jakarta</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label>City</ion-label>
			<ion-input type="text"></ion-input>        
		</ion-item>
		<ion-item>
			<ion-label>Postal Code</ion-label>
			<ion-input type="number"></ion-input>        
		</ion-item>
		<ion-item>
			<ion-label>Phone</ion-label>
			<ion-input type="tel"></ion-input>        
		</ion-item>
		
		<ion-item-divider color="danger">Payment Details</ion-item-divider>
		<ion-item>
			<ion-label>Payment Method</ion-label>
			<ion-select>
				<ion-option value="Bank Transfer">Bank Transfer</ion-option>
			</ion-select>
		</ion-item>
	</ion-list>

</ion-content>
