<ion-header>
	<ion-navbar>
		<button ion-button icon-only menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title><img src="assets/imgs/logo.svg" alt="" /></ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="openFilter()">
				<ion-icon name="ios-funnel-outline"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content>
	<div class="posts" *ngIf="projekts && projekts?.length" padding-vertical>
		<h1 class="title" color="primary" *ngIf="pageLoaded" ion-text text-center text-uppercase no-margin>Projekts</h1>
		<ion-grid class="post" *ngFor="let projekt of projekts" (click)="projektTapped($event, projekt.id)">
			<ion-row align-items-center>
				<ion-col *ngIf="projekt.thumbnail" class="post-image" col-12 col-md-6>
					<img [defaultImage]="placeholder" [lazyLoad]="projekt.thumbnail" [offset]="300" [scrollTarget]="scrollerHandle" />
				</ion-col>
				<ion-col class="post-content" col-12 col-md-6>
					<h3 [innerHTML]="projekt.title" no-margin></h3>
					<p no-margin [innerHTML]="projekt.description"></p>
				</ion-col>
			</ion-row>
			<hr>
		</ion-grid>
	</div>
	<ion-infinite-scroll *ngIf="!noMoreItemsAvailable" (ionInfinite)="doInfinite($event)">
		<ion-infinite-scroll-content loadingSpinner="dots" loadingText="">
		</ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>
