<ion-header>
	<ion-navbar>
		<ion-title>Search</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<div class="posts" *ngIf="posts && posts?.length; else noPosts" padding-vertical>
		<h1 class="title" color="primary" *ngIf="pageLoaded" ion-text text-center text-uppercase>Search results: {{ keywords }}</h1>
		<ion-grid class="post" *ngFor="let post of posts" (click)="postTapped($event, post.id)">
			<ion-row align-items-center>
				<ion-col *ngIf="post.thumbnail" class="post-image" col-12 col-md-6>
					<span *ngIf="post.format" class="post-format">
						<ion-icon *ngIf="post.format == 'video'" name="ios-videocam"></ion-icon>
						<ion-icon *ngIf="post.format == 'audio'" name="ios-musical-notes"></ion-icon>
						<ion-icon *ngIf="post.format == 'gallery'" name="ios-images"></ion-icon>
					</span>
					<img [defaultImage]="placeholder" [lazyLoad]="post.thumbnail" [offset]="300" [scrollTarget]="scrollerHandle" alt="{{ post.title }}" />
				</ion-col>
				<ion-col class="post-content" col-12 col-md-6>
					<h3 [innerHTML]="post.title" no-margin></h3>
					<ion-row no-padding>
						<ion-col *ngIf="post.date" col-auto no-padding>
							<button ion-button icon-start clear small no-padding>
								<ion-icon name="ios-time-outline"></ion-icon>
								<div>{{ post.date }}</div>
							</button>
						</ion-col>
						<ion-col *ngIf="post.author" col-auto no-padding margin-left>
							<button ion-button icon-start clear small no-padding>
								<ion-icon name="ios-person"></ion-icon>
								<div>{{ post.author }}</div>
							</button>
						</ion-col>
					</ion-row>
				</ion-col>
			</ion-row>
			<hr>
		</ion-grid>
	</div>
	<ng-template #noPosts>
		<div *ngIf="pageLoaded" class="no-search" text-center padding>
			<ion-icon name="ios-outlet-outline"></ion-icon>
			<p>There's no results for: {{ keywords }}.</p>
		</div>
	</ng-template>
	<ion-infinite-scroll *ngIf="pageLoaded && !noMoreItemsAvailable" (ionInfinite)="doInfinite($event)">
		<ion-infinite-scroll-content loadingSpinner="dots" loadingText="">
		</ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>
