<ion-header>
	<ion-navbar>
		<ion-buttons start>
			<button ion-button icon-only (click)="dismiss()">
				<ion-icon name="ios-close"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title>Artist Filter</ion-title>
	</ion-navbar>
</ion-header>
<ion-content padding>
	
</ion-content>