<ion-header>
	<ion-navbar>
		<button ion-button icon-only menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title><img src="assets/imgs/logo.svg" alt="" /></ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="openFilter()">
				<ion-icon name="ios-funnel-outline"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content>
	<div class="posts" *ngIf="events && events?.length" padding-vertical>
		<h1 class="title" color="primary" *ngIf="pageLoaded" ion-text text-center text-uppercase>Events</h1>
		<ion-grid class="post" *ngFor="let event of events" (click)="eventTapped($event, event.id)">
			<ion-row align-items-center>
				<ion-col *ngIf="event.thumbnail" class="post-image" col-12 col-md-6>
					<img [defaultImage]="placeholder" [lazyLoad]="event.thumbnail" [offset]="300" [scrollTarget]="scrollerHandle" alt="{{ event.title }}" />
				</ion-col>
				<ion-col class="post-content event" col-12 col-md-6>
					<h3 [innerHTML]="event.title" no-margin></h3>
					<button *ngIf="event.event_date" ion-button icon-start clear small no-padding no-margin>
						<ion-icon name="ios-time-outline"></ion-icon>
						<div [innerHTML]="event.event_date"></div>
					</button>
					<button *ngIf="event.location" ion-button icon-start clear small no-padding no-margin>
						<ion-icon name="ios-pin"></ion-icon>
						<div [innerHTML]="event.location"></div>
					</button>
					<button *ngIf="event.ticket" ion-button icon-start clear small no-padding no-margin>
						<ion-icon name="ios-pricetags"></ion-icon>
						<div [innerHTML]="event.ticket"></div>
					</button>
				</ion-col>
			</ion-row>
			<hr>
		</ion-grid>
	</div>
	<ion-infinite-scroll *ngIf="!noMoreItemsAvailable" (ionInfinite)="doInfinite($event)">
		<ion-infinite-scroll-content loadingSpinner="dots" loadingText="">
		</ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>
