page-events {
	ion-content {
		// padding: 0!important;

		.feature {
			position: relative;

			.feature-title {
				position: absolute;
				top: 50%;
				left: 50%;
				margin: 0;
				color: #FFF;
				font-size: 2em;
				font-weight: 700;
				font-family: 'Open Sans Condensed', sans-serif;
				text-shadow: 1px 1px rgba(0, 0, 0, .15);
				transform: translate(-50%, -50%);
				-webkit-transform: translate(-50%, -50%);
			}
		}
	}
}
