page-comments {

	.comment-avatar img {
		-webkit-border-radius: 50%;
		border-radius: 50%;
	}

	.comment-details {
		.comment-top {
			margin-bottom: 7px;
			.comment-author {
				font-weight: 600;
				margin-right: 2px;
			}
		}

		.comment-bottom {
			color: #a0a0a0;
			.comment-date {
				margin-right: 10px;
			}
			.comment-reply {
				font-weight: 500;
			}
		}
	}

	.no-comments {
		color: #a0a0a0;
		ion-icon {
			font-size: 64px;
		}
	}

	ion-footer {
		border-top: 1px solid #e0e0e0;
	}

}
