<ion-header>
	<ion-navbar>
	</ion-navbar>
</ion-header>
<ion-content>
	<div class="comments" *ngIf="comments && comments?.length;else noComments" padding-top>
		<ion-grid class="post" *ngFor="let comment of comments">
			<ion-row class="comment" align-items-start>
				<ion-col class="comment-avatar" col-2>
					<img [src]="comment.avatar">
				</ion-col>
				<ion-col class="comment-details" col-10>
					<div class="comment-top">
						<span class="comment-author" [innerHTML]="comment.username"></span>
						<span class="comment-content" [innerHTML]="comment.content"></span>
					</div>
					<div class="comment-bottom">
						<span class="comment-date" [innerHTML]="comment.date"></span>
						<span class="comment-reply">Reply</span>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
	<ng-template #noComments>
		<div *ngIf="pageLoaded" class="no-comments" text-center padding>
			<ion-icon name="ios-outlet-outline"></ion-icon>
			<p>Be the first to comment...</p>
		</div>
	</ng-template>
	<ion-infinite-scroll *ngIf="!noMoreItemsAvailable" (ionInfinite)="doInfinite($event)">
		<ion-infinite-scroll-content loadingSpinner="dots" loadingText="">
		</ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>
<ion-footer *ngIf="pageLoaded">
	<ion-grid class="comment-input">
		<ion-row align-items-center>
			<ion-col class="comment-text">
				<ion-input placeholder="Write comment..."></ion-input>
			</ion-col>
			<ion-col class="comment-submit" col-auto>
				<button ion-button icon-only clear color="dark" (click)="submitComment()">
					<ion-icon name="ios-paper-plane"></ion-icon>
				</button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-footer>
